@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .svg{
        @apply border
    }
}

/* also for d3-axis*/
.tick line {
    stroke: #dedede;/*  #c0c0bb; */

}
/* also for d3-axis*/
.tick text {
    fill: #635f5d;
    font-size: 11px;
    cursor: default;
}

/* for multiple - aggregation chart*/
.mark {
    fill: #137b80;
}

.axis-label {
    font-size: 2.2em;
    fill: #635f5d;
}

.dropdown-label {
    color: #635f5d;
}

.marks circle {
    fill: #137b80;
}
.marks path {
    fill: none;
    stroke: #137b80;
    stroke-width:5 ;
    stroke-linejoin: round;
    stroke-linecap: round;
}

/* react-dropdown */
.Dropdown-root {
    width: 200px;
}

.Dropdown-menu {
    max-height: 400px !important;
}

/* d3 axis*/
.domain {
    display: none;
}

/* voronoi */
.voronoi path {
    fill: none;
    pointer-events: all;
}
